@import "tailwindcss";

@layer base {
      * {
            padding: 0;
            margin: 0;
            font-family: "Saira", calibri;
            color: white;
      }

      body {
            background-color: #8a7143;
            min-height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
      }

      ::selection {
            background-color: #eee;
            color: black;
      }

      .satisfying-button {
            cursor: pointer;
            box-shadow: -3px 3px 2px 0 #0005;
            position: relative;
            transition-duration: 100ms;
      }

      .satisfying-button:hover {
            box-shadow: 0px 0px 2px 0 #0005;
            transform: translate(-2px, 2px);
      }

      .satisfying-button::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: inherit;
            box-shadow: 0px 0px 2px 0 #0005 inset;
            transition-duration: inherit;
            width: 100%;
            height: 100%;
      }

      .satisfying-button:active {
            transform: translate(-3px, 3px);
      }

      .satisfying-button:active::after,
      .satisfying-button.active::after {
            box-shadow: -5px 5px 2px 0 #0005 inset;
      }

      .satisfying-button.active {
            box-shadow: 0px 0px 2px 0 #0005;
            transform: translate(-2px, 2px);
      }

      @media (max-width: 1024px) {
            html {
                  font-size: 12px;
            }
      }

      @media (max-width: 425px) {
            html {
                  font-size: 10px;
            }
      }

      ::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
      }

      ::-webkit-scrollbar-track {
            background-color: transparent;
      }

      ::-webkit-scrollbar-thumb {
            background-color: #222;
            border-radius: 5px;
      }
}
